doctype html 
html(lang="ko")
    head 
        title #{pageTitle} | WeTube
        link(rel="stylesheet" href="https://unpkg.com/mvp.css")

    body
        header
            if fakeUser
                small Hello #{fakeUser.username}

            nav    
                ul 
                    li 
                        a(href="/") Home
                    if fakeUser
                        li
                            a(href="/logout") Log Out
                    else
                        li
                            a(href="/login") Login
            
                    li
                        a(href="/videos/upload") Upload Video


            h1=pageTitle
        main
            block content
        include partials/footer.pug