extends base.pug

block content
    if errorMessage
        span=errorMessage
    form(method="POST")
        span username
            input(placeholder="username", name="username", type="text", required)
        span password 
            input(placeholder="password", name="password", type="password", required)
        input(type="submit", value="Login 💥")
        br
        a(href="/users/github/start") Continue with GitHub
        span   
        svg(xmlns="http://www.w3.org/2000/svg", viewBox="0 0 16 16", fill="currentColor", width="16", height="16")  
            path(d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.54 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.24.49-2.71-1.08-2.71-1.08-.36-.92-.87-1.16-.87-1.16-.71-.49.05-.48.05-.48.79.06 1.21.81 1.21.81.7 1.2 1.83.85 2.28.65.07-.51.27-.85.49-1.05-1.73-.2-3.55-.87-3.55-3.85 0-.85.3-1.55.79-2.1-.08-.2-.34-1.01.07-2.1 0 0 .66-.21 2.15.79a7.49 7.49 0 0 1 1.96-.26c.67.01 1.35.09 1.96.26 1.49-1 2.15-.79 2.15-.79.41 1.09.15 1.9.07 2.1.49.55.79 1.25.79 2.1 0 2.99-1.82 3.65-3.56 3.85.27.23.5.68.5 1.37 0 .99-.01 1.79-.01 2.03 0 .21.15.46.56.38A8.01 8.01 0 0 0 16 8c0-4.42-3.58-8-8-8z")  

    hr
    div
        span Don't Have An Account? 
        a(href="/join") Create One Now &rarr;
        