extends base.pug
include mixins/video

block content
    form(method="GET")
        input(type="text", name="keyword", placeholder="search By Title")
        input(type="submit", value="SEARCH✔")

    div
        each video in videos
            +vd(video)