extends ../base

block content 
    form(method="POST")
        input(placeholder="old password")
        input(placeholder="new password")
        input(placeholder="new password confirmation")
        input(value="change password", type="submit")